/* Loader styles */
#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75); /* Tło loadera */
    z-index: 9999;
  }
  
  .loader-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Upewnia się, że video wypełnia cały element */
  }
  
  /* Opcjonalnie: Stylizowanie loadera */
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  